In [ ]:
#class-4
a=10
b=40
sum=a+b
print(sum)

In [3]:
a=int(input(6))

6 5

In [4]:
a=int(input('1st number is:'))
b=int(input('2nd number is:'))
sum=a+b
print('total number is:', (sum))

1st number is: 5
2nd number is: 2

total number is: 7

In [5]:
number=[0,1,2,3,4,5,6,7,8,9]
print('result is:',number[3+5])

result is: 8

In [6]:
a=int(input('1st number is:'))
b=int(input('2nd number is:'))
if(a>b):
    print("a is greater than b")
if(a<b):
    print("b is greater than a")

1st number is: 4
2nd number is: 5

b is greater than a

In [8]:
a=int(input('1st number is:'))
operator=input('input operator:')
b=int(input('2nd number is:'))

if(operator=='+'):
 sum=a+b
 print(sum)
    
elif(operator=="-"):
 result=a-b
 print(result)
    
elif(operator=="*"):
 result=a*b
 print(result)
    
elif(operator=="/"):
 result=a/b
 print(result)

1st number is: 6
input operator: +
2nd number is: 6

12

In [11]:
#calculator
print('mini calculator + , - , * , / , %')
a=int(input('input 1st number & Enter:'))
operator=input('input operator & Enter:')
b=int(input('input 2nd number & Enter:'))
if(operator=='+'):
 sum=a+b
 print('the result is:',sum)
elif(operator=="-"):
 result=a-b
 print('the result is:',result)
elif(operator=="*"):
 result=a*b
 print('the result is:',result)
elif(operator=="/"):
 result=a/b
 print('the result is:',result)
elif (operator=="%"):
  result=a/b*100
  print('The percentage is:',result)

mini calculator + , - , * , / , %

input 1st number & Enter: 5
input operator & Enter: +
input 2nd number & Enter: 5

the result is: 10

In [12]:
# STRING

lst=[10,'talha','dhaka',20, True,'bangladesh',9.9]

print(lst[1:3]) #LIST R 1 R (3-1) TM INDEX PRINT

['talha', 'dhaka']

In [13]:
lst=[10,'talha','dhaka',20, True,'bangladesh',9.9]
print(lst[3]) #3 NO INDEX TA PRINT

20

In [14]:
lst=[30,35,'true',5]
print(lst[3])

5

In [15]:
#9 DECEMBER 2024 (5TH CLASS) 
lst=[30,35,'true',5]
print(lst[-1])# - MANA RIGHT SIDE THAKA 1 NO VALUE ULTA PAS THAKA INDEX R VALUE

5

In [16]:
lst1=['a','b','c','d','e','f','g']
lst2=['x','y']
lst1[3:5]=lst2 # LIST R 3 NO INDEX R (5-1)TM INDEX 
print(lst1)

['a', 'b', 'c', 'x', 'y', 'f', 'g']

In [17]:
lst1=['a','b','c','d','e','f','g']
lst2=['x','y','z']
lst1[4:6]=lst2
print(lst1)

['a', 'b', 'c', 'd', 'x', 'y', 'z', 'g']

In [18]:
lst1=['a','b','c','d','e','f','g','9','8','7','l','k','h']
lst2=['x','y','z','1','2','3','4','5','6','7']
lst1[4:8]=lst2
print(lst1)

['a', 'b', 'c', 'd', 'x', 'y', 'z', '1', '2', '3', '4', '5', '6', '7', '8', '7', 'l', 'k', 'h']

In [19]:
lst1=['a','b','c','d','e','f','g']
lst2=['x','y','z']
lst3=['rakib','joy','sanjid','sadman']

lst1[4:6]=lst2,lst3 #LIST 1 R 4 TM INDEX A LIST 2 R LIST 3 R SOB VALUE INSERT HBA
print(lst1)

lst2[-2]=lst1
print(lst2)

['a', 'b', 'c', 'd', ['x', 'y', 'z'], ['rakib', 'joy', 'sanjid', 'sadman'], 'g']
['x', ['a', 'b', 'c', 'd', [...], ['rakib', 'joy', 'sanjid', 'sadman'], 'g'], 'z']

In [20]:
lst1=['a','b','c','d']
lst1.append('g') #last a value add krar jonno
print(lst1)

['a', 'b', 'c', 'd', 'g']

In [21]:
lst1=['a','b','c','d']
lst1.insert(1,'x') #fixed index a value add krar jonno
print(lst1)

['a', 'x', 'b', 'c', 'd']

In [22]:
lst1=[10,20,30,40]
lst2=[50,60,70]
lst1.extend(lst2) #2 ta list k ak satha add korar jonno
print(lst1)

[10, 20, 30, 40, 50, 60, 70]

In [23]:
lst1=[10,20,30,40]
lst1.remove(30) #fixed value k remove krar jonno
print(lst1)

[10, 20, 40]

In [24]:
lst1=[10,20,30,40]
lst1.pop(1) #index suhu remove krar jonno
print(lst1)

[10, 30, 40]

In [25]:
lst1=[10,20,30,40]
lst1.clear() # full list cl
print(lst1)

[]

In [26]:
tup=(10,20,30,40)
print(tup[1])

20

In [27]:
tup=(10,20,30,40,50,60,70,80,90,100)
print(tup[1+6])

80

In [28]:
dict={'name':'saahil','age':16,'school':'milestone'}
print(dict['name'])

saahil

In [29]:
list=[10,20,30,40]
for num in list:
    print(num)

10
20
30
40

In [30]:
list=[10,20,30,40]
for num in list:
    print(num,end=' ') #pasapasi print krar jonno

10 20 30 40

In [31]:
#6th class 10december 2024
def sum(a,b):
    c=a+b
    print(c)

x=input()
y=input()
a=int(x)
b=int(y)

sum(a,b)

 3
 4

7

In [32]:
#raf
def r(x,y):
    print(r)

x=input('rubyia')
y=input('Shaiyara')
a=list[x]
b=list[y]
r(x,y)

rubyia 4
Shaiyara 5

TypeError: list indices must be integers or slices, not str

In [33]:
a=(input('print 1st num is:'))
b=(input('print 2nd num is:'))
m=int(a)
n=int(b)
if(a>b): #must need colon(:) after every condition
    print('x is big')
else:
    print('y is big')

print 1st num is: 5
print 2nd num is: 4

x is big

In [34]:
a=(input('print 1st num:'))
b=(input('print 2nd num:'))
operator=input('give any operator')
m=int(a)
n=int(b)
if(operator=='+'):
    print(m+n)
elif(operator=='-'):
    print(m-n)
elif(operator=='*'):
    print(m*n)
elif(operator=='/'):
    print(m/n)

print 1st num: 2
print 2nd num: 2
give any operator /

1.0

In [36]:
a=int(input('print 1st num is:'))
b=int(input('print 2nd num is:'))
for num in range(a,b):
    print(num)

print 1st num is: 5
print 2nd num is: 9

5
6
7
8

In [19]:
a = int(input('Enter the first number: '))
b = int(input('Enter the second number: '))
choice = input('Enter "even" or "odd": ').strip().lower()

for num in range(a, b):
    if choice == 'even' and num % 2 == 0:
        print(num)
    elif choice == 'odd' and num % 2 != 0:
        print(num)

Enter the first number:  1
Enter the second number:  9
Enter "even" or "odd":  odd

1
3
5
7

In [8]:
def cal():
    a=int(input('input 1st value'))
    b=int(input('input 2nd value'))
    op=input('even or odd:')
    
    sum=0
    for num in range(a,b):
        if op.lower()=='even':
            if num%2==0:
                sum=sum+num
                print(num)
        elif op.lower()=='odd':
            if num%2 !=0:
                sum=sum+num
                print(num)
print('sum:',sum)
cal()

sum: <built-in function sum>

input 1st value 2
input 2nd value 6
even or odd: odd

3
5